html, body {
  background-color: $primary_color;
  color: $text_color;
  font-family: $font-family-sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: $line-height-base;
  //user-select: none;
}
a{
  @include transition();
  outline: none;
  color: $text_color;
  svg{
    fill: $text_color;
    @include transition();
  }
  &:hover{
    color: $text_hover_color;
    text-decoration: none;
    svg{
      fill: $text_hover_color;
    }
  }
}
#app{
  overflow: hidden;
}
.fade-enter-active,
.fade-leave-active{
  transition-duration: 0.6s;
  transition-property: opacity;
  transition-timing-function: ease;
}

.fade-enter,
.fade-leave-active{
  opacity: 0
}
#app{
  min-height: 100vh;
}