$primary_color : #f8f8f8;
//$primary_color : #282828;
$text_color : #222;
$text_light : #eee;
$text_hover_color : #00A1E4;

$border-color : rgba(112,112,112,0.65);

// Typography
$font-family-sans-serif: 'Roboto', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

// Social
$google: #DC4E41;
$facebook: #475993;

$roboto-font-path: '../fonts' !default;
