<template>
<div class="page page-404">
    <div id="notfound" class="vh-100 d-flex align-items-center justify-content-center">
        <div class="notfound text-center">
            <div class="notfound-404">
                <h1>4<span>0</span>4</h1>
            </div>
            <h2>Không tìm thấy nội dung này!</h2>
            <p>Xin lỗi nhưng trang bạn đang tìm kiếm không tồn tại, đã bị xóa. tên đã thay đổi hoặc tạm thời không có</p>

            <router-link :to="{name: 'Login'}">
                <el-button type="primary">Quay lại trang chủ <i class="el-icon-right"></i></el-button>
            </router-link>
        </div>
    </div>
</div>
</template>

<script>
    export default {
        name: "page-404"
    }
</script>

<style scoped>

</style>
