<template>
    <div id="app">
        <transition
                name="fade"
                mode="out-in"
        >
            <component :is="layout">
                <router-view/>
            </component>
        </transition>

    </div>
</template>

<script>

    export default {
        name: "App",
        computed: {
            layout() {
                // none-layout will be used if the meta.layout tag is not set
                // computed may not be best place in vue lifecycle for this but it works ok
                return `${this.$route.meta.layout || 'none'}-layout`;
            }
        },
        mounted() {}
    }
</script>

<style scoped>

</style>
