<template>
    <div class="vue-base64-file-upload">
        <i class="el-icon-circle-close circle-close" v-if="previewImage && !disablePreview"
           @click="removedata">
        </i>
        <img v-show="previewImage && !disablePreview" v-if="previewImage && !disablePreview"
             :src="previewImage" :title="fileName || file && file.name"
             :class="imageClass" />
        <i class="el-icon-plus plus"
           v-show="!(previewImage && !disablePreview)">
        </i>
        <input type="file"
            @change="onChange"
            :style="fileInputStyles"
            :accept=accept />
    </div>
</template>

<script>
    export default {
        name: "ImageBase64",
        props: {
            imageClass: {
                type: String,
                default: ''
            },
            inputClass: {
                type: String,
                default: ''
            },
            accept: {
                type: String,
                default: 'image/png,image/gif,image/jpeg'
            },
            maxSize: {
                type: Number,
                default: 10 // megabytes
            },
            disablePreview: {
                type: Boolean,
                default: false
            },
            fileName: {
                type: String,
                default: ''
            },
            placeholder: {
                type: String,
                default: 'Click here to upload image'
            },
            defaultPreview: {
                type: String,
                default: ''
            }
        },

        data() {
            return {
                file: null,
                preview: null,
                visiblePreview: false
            };
        },


        computed: {
            wrapperStyles: function wrapperStyles() {
                return {
                    'position': 'relative',
                    'width': '100%'
                };
            },
            fileInputStyles: function fileInputStyles() {
                return {
                    'width': '100%',
                    'position': 'absolute',
                    'top': 0,
                    'left': 0,
                    'right': 0,
                    'bottom': 0,
                    'opacity': 0,
                    'overflow': 'hidden',
                    'outline': 'none',
                    'cursor': 'pointer'
                };
            },
            textInputStyles: function textInputStyles() {
                return {
                    'width': '100%',
                    'cursor': 'pointer'
                };
            },
            previewImage: function previewImage() {
                return this.preview || this.defaultPreview;
            }
        },

        methods: {
            onChange: function onChange(e) {
                var _this = this;

                var files = e.target.files || e.dataTransfer.files;

                if (!files.length) {
                    return;
                }

                var file = files[0];
                var size = file.size && file.size / Math.pow(1000, 2);

                // check file max size
                if (size > this.maxSize) {
                    this.$emit('size-exceeded', size);
                    return;
                }

                // update file
                this.file = file;
                this.$emit('file', file);

                var reader = new FileReader();

                reader.onload = function (e) {
                    var dataURI = e.target.result;

                    if (dataURI) {
                        _this.$emit('load', dataURI);

                        _this.preview = dataURI;
                    }
                };

                // read blob url from file data
                reader.readAsDataURL(file);
            },
            removedata(){
                this.file =  null;
                this.preview = null;
                this.visiblePreview = false;
            }
        },
    }
</script>

<style scoped>
    .vue-base64-file-upload{
        position: relative;
        background-color: #fbfdff;
        border: 1px dashed #c0ccda;
        border-radius: 6px;
        box-sizing: border-box;
        width: 100%;
        height: 148px;
        cursor: pointer;
        vertical-align: top;
        text-align: center;
        outline: none;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .vue-base64-file-upload img{
        height: auto;
        max-height: 100%;
        max-width: 100%;
        width: auto;
        cursor: pointer;
    }
    .vue-base64-file-upload i.circle-close{
        display: none;
        position: absolute;
        top: 2px;
        right: 2px;
        font-size: 15px;
        background-color: #ffffff;
        border-radius: 3px;
        cursor: pointer;
        z-index: 50;
    }
    .vue-base64-file-upload i.plus{
        font-size: 28px;
        color: #8c939d;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .vue-base64-file-upload:hover i.circle-close{
        display: block;
    }
</style>
